<div class="comments-list-item">
	<div class="user-img">
		<%= image_tag comment.user.avatar.user_thumb %>
		<p><%= link_to comment.user.username %></p>
	</div>
	<div class="comment">
		<%= comment.text %>
	</div>
	<div class="clear"></div>
</div>