<%= link_to image_tag(article.avatar.article_thumb, size: "160x100"), article_path(article) %>
<p><%= link_to article.title, article_path(article) %></p>
<div class="article-stat">
	<span class="glyphicon glyphicon-expand"></span> <%= article.count %> <span class="glyphicon glyphicon-star"></span> <%= article.favout_count %>
</div>