@import 'bootstrap';
@import 'bootstrap-sprockets';



/* player page */
.up-info {
	width: 290px;
	border: 1px solid #ddd;
	background: #eee;
}

.divider {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}