
li {
	list-style-type: none;
}


/* universial */
.headerwide {
	min-width: 990px;
	backgroung-color: #ffffff;
}

.widescreen {
	min-width: 990px;
	background-color: #fafafa;
}

/* navbar */
ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	li {
		float: left;
		a:link, a:visited {
			display: block;
			width: 60px;
			font-size: 1.2em;
			margin: 0;
			padding: 5px 0 5px 0;
			text-align: center;
			text-decoration: none;
			color: #000;
		}
		a:hover, a:active {
			color: #555;
		}
	}
	.navbar-form, .navbar-right {
		margin: 0;
	}
}

/* category page */
.category {
	.col-md-9 {
		padding-left: 0;
	}
}

.category-header {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
}

.t {
	float: left;
	font-size: 2em;
	margin-right: 20px;
}

.c-slt-tab {
	font-size: 1em;
	padding-top: 1em;
	a {
		padding: 0 3px 0 3px;
	}
	a:link, a:visited {
		margin: 0;
		text-align: center;
		text-decoration: none;
		color: #000;
	}
	a:hover, a:active {
		background-color: #eee;
	}
}

.movie-list {
	width: 878px;
}

.movie-list-item {
	float: left;
	height: 154px;
	width: 430px;
	padding: 15px 15px 15px 5px;
	border: 1px solid #eee;
	margin-right: 9px;
	margin-bottom: 10px;
	background-color: #fff;
	img {
		margin-left: 10px;
	}
	a:link, a:visited {
		font-size: 1.2em;
		color: #000;
		margin-left: 5px;
		text-decoration: none;
	}
	a:hover, a:active {
		color: #555;
	}
	.info {
		font-size: 0.8em;
		color: #555;
		margin-left: 10px;
	}
}

.category-hot {
	margin: 20px 5px 10px 15px;
	width: 260px;
	.hot-list {
		.hot-list-item {
			margin: 0 0 15px;
			a:link, a:visited {
				font-size: 1em;
				color: #000;
				margin-left: 5px;
				text-decoration: none;
			}
			a:hover, a:active {
				color: #555;
			}
			p {
				font-size: 0.8em;
				color: #555;
			}
		}
	}
}

/* player page */
.v-header {
	margin-top: 20px;
	.logo {
		width: 60px;
		float: left;
		height: 60px;
		margin-right: 10px;
	}
	.title {
		font-size: 2.4em;
	}
	.nav {
		margin-top: 5px;
		margin-bottom: 10px;
		color: #666;
	}
}

.v-page-info {
	margin-top: 30px;
	margin-bottom: 20px;
}

.up-info {
	width: 290px;
	border: 1px solid #ddd;
	background: #eee;
	padding: 5px;
	font-size: 0.8em;
}

.divider {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 5px;
}

.player {
	border: 1px soild #ddd;
	margin: 0;	
}

.danmu {
	overflow-y:scroll;
	border: 1px solid #ddd;
	margin: 0;
	height: 522px;
	background-color: #ffffff;
	h5 {
		border-bottom: 1px solid #ddd;
	}
	table {
		margin: 0;
		padding: 0;
		font-size: 0.8em;
		tr {
			th {
				margin: 0;
				padding: 0;
			}
		}
	}
}

.share {
	height: 52px;
	border: 1px solid #ddd;
	margin-top: 10px;
	background-color: #ffffff;
	.col-md-4 {
		border-right: 1px solid #ddd;
		height: 50px;
		font-size: 1.5em;
		padding-top: 9px;
		padding-bottom: 9px;
	}
}

.remark {
	margin-top: 20px;
	background-color: #ffffff;
	border: 1px solid #ddd;
	font-size: 1em;
	padding: 10px 10px 20px 10px;
}

#v-comments {
	.facebox {
		width: 60px;
		float: left;
		height: 60px;
	}
	.name {
		font-size: 0.8em;
	}
	.content {
		font-size: 1em;
	}
	.comments-list-item {
		margin-top: 5px;
		.col-md-9 {
			margin-top: 5px;
		}
	}
}

#barrage-on-player {
	z-index: 1;
	height: 482px;
	width: 860px;
	position: absolute;
	#barrage-item {
		font-size: 20px;
		color: white;
		position: relative;
		left: 860px;
		top: 0;
	}
}