<div class="row category">
	<div class="col-md-9">
		<div class="row category-header">
			<div class="t">电影</div>
			<div class="c-slt-tab">
				<a href="#" class="tab-i">拼音排序</a>
				<a href="#" class="tab-i">投稿时间排序</a>
				<a href="#" class="tab-i">视频热度排序</a>
			</div>
			<div class="divider"></div>
		</div>
		<div class="movie-list">
			<% @articles.each do |article| %>
				<div class="movie-list-item">
					<%= render partial: 'categories/article', object: article %>
				</div>
			<% end %>
			<%= will_paginate @articles, class: "digg_pagination" %>
		</div>
	</div>
	<div class="col-md-3 category-hot">
		<h4>本区热门</h4>
		<div class="hot-list">
			<% n = 0 %>
			<% @articles_hot.each do |article_hot| %>
				<div class="hot-list-item">
					<span class="label label-default"><%= n+1 %></span> <%= link_to article_hot.title, article_path(article_hot) %>
					<% n += 1 %>
				</div>
			<% end %>
		</div>
	</div>
</div>
