<div class="footer">
	<div class="footer-items row">
		<div class="footer-item col-md-4">
			<%= link_to "关于我们", "#" %>
		</div>
		<div class="footer-item col-md-4">
			<%= link_to "@Github", "https://github.com/cloudy9101/dodotv" %>
		</div>
		<div class="footer-item col-md-4">
			友情链接
		</div>
	</ul>
</div>