<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 footer-item">
				<p>关于我们</p>
			</div>
			<div class="col-md-4 footer-item">
				<p><%= link_to "@Github", "https://github.com/cloudy9101/dodotv" %></p>
			</div>
			<div class="col-md-4 footer-item">
				<p>友情链接</p>
			</div>
		</div>
	</div>
</div>