<div class="headerwide">
	<div class="container">
		<div class="row">
			<ul>
				<li><a href="#"><%= image_tag "logo.png", height: 24, width: 24 %></a></li>
				<li><a href="/">首页</a></li>
				<li><a href="/c_1">电影</a></li>
				<li><a href="/c_2">电视</a></li>
				<li><a href="/c_3">综艺</a></li>
				<li><a href="#">排行</a></li>
				<li><a href="/articles/new"><span class="glyphicon glyphicon-upload"></span>投稿</a></li>
				<form class="navbar-form navbar-right">
					<div class="search">
						<div class="form-group">
							<input class="form-control"></input>
						</div>
						<button class="btn btn-default">搜索</button>
					</div>
				</form>
			</ul>
		</div>
	</div>
</div>